<!DOCTYPE html>
<html>
<head>
<style>
.tabledata, .tabledata th, .tabledata td {
  border: 1px solid black;
  border-collapse: collapse;
}
body {
  font-size: 150%;
}
</style>
</head>
<body>

{% if user %}

<span>{{user.firstname}} {{user.lastname}} | </span><a href="/logout">logout</a> 
{% if user.userType == 1 %}
  <a href="/admin/resources/Users">AdminJs</a>
{% endif %}

{% endif %}
<br>
<br>

{% block content %}
<h1>My First Heading</h1>
<p>My first paragraph.</p>
{% endblock %}


</body>
</html> 